body {
   
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ffffff&c2=c8e3ee&gt=l&gd=dtl
*/
/*
 * background: #FFFFFF;
 * background: linear-gradient(135deg, #FFFFFF, #C8E3EE);
*/

/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ffffff&c2=c9eec8&gt=l&gd=dtl
*/

/*
  background: #FFFFFF;
  background: linear-gradient(135deg, #FFFFFF, #C9EEC8);



* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ffffff&c2=ddeee3&gt=l&gd=dtl
*/
background: #FFFFFF;
background: linear-gradient(135deg, #FFFFFF, #DDEEE3);








}

